<section>
  <h1>About Me</h1>
    <p>
      My name is Nguyen Son Tung (a.k.a <a href="https://github.com/stnguyen" alt="stnguyen github" target="_blank">stnguyen</a>), people also call me Stefan.
    </p>
    <p>
      I'm a young, enthusiastic developer living in Ha Noi, Viet Nam.
    </p>
    <p>
      I'm currently working at <a title="Vinova Pte Ltd" href="http://vinova.sg" target="_blank">Vinova Pte Ltd</a>, a small company located in Singapore specialized in Web/Mobile app development.
    </p>
    <p>
      <a href="/about">Read more about me</a>
    </p>
    <p>
      <a href="https://github.com/stnguyen"><img src="/images/github_32x32.png" alt="github"></a>
      <a href="/atom.xml"><img src="/images/rss_32x32.png" alt="RSS"></a>
      <a href="https://www.twitter.com/stnguyenvn"><img src="/images/twitter_32x32.png" alt="Twitter"></a>
    </p>
</section>
