// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$page-border-side: 1px solid #CCC;

aside.sidebar {
  background: #EBEBEB;
  padding: 20px;
  margin-left: 15px;
  width: 245px;
  border: $page-border-side;
  > section {
    margin-bottom: 3em;
    > h1 { margin-top: 0px }
  }
}

body {
  max-width: none;
  border-bottom: 1px solid #151515;
  > header {
    > hgroup {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  > nav {
    background: #333;
    border-top: 1px solid #383838;
    div {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  > div {
    max-width: 1200px;
    background: transparent;
    border:none;
    > div {
      background: white;
      border: $page-border-side;
      -moz-box-shadow: #ccc 0 0 10px 0;
      -webkit-box-shadow: #ccc 0 0 10px 0;
      -o-box-shadow: #ccc 0 0 10px 0;
      box-shadow: #ccc 0 0 10px 0;
      margin-top: 14px;
    }
  }
  > footer > p {
    max-width: 1200px;
    margin: 0 auto;
  }
}
